<%= provide(:title, 'Start using InstaLegal') %>
<div class="client-registration">
  <%= form_for(@client) do |f| %>
    <fieldset>
      <legend>Start using InstaLegal</legend>
      <%= render 'shared/error_messages', model: @client %>
      <%= f.label(:name) %>
      <%= f.text_field :name, placeholder: "Name..." %>

      <%= f.label(:email) %>
      <%= f.text_field :email, placeholder: "Email..." %>

      <%= f.label(:password) %>
      <%= f.password_field :password, placeholder: "Password..." %>

      <%= f.label(:phone_number) %>
      <%= f.text_field :phone_number, placeholder: "Phone number..." %>
      <div>
        <button type="submit" class="btn btn-large btn-primary">Join InstaLegal</button>
      </div>
    </fieldset>
  <% end %>
</div>